# Python
__pycache__/
*.pyc

# Entorno
env/
venv/
academia_django/

# Django
db.sqlite3
/media/
staticfiles/
comprobantes_pagos/
qr_pagos/
registros_estudiantes/
videos_home/

# Archivos sensibles
.env

# VS Code
.vscode/

# Logs
*.log
