{% extends 'gestion/base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5">

            <div class="card bg-dark text-light border-success rounded-4">

                <div class="card-body text-center p-5">

                    <i class="fa-solid fa-circle-check fa-4x mb-4 text-success"></i>

                    <h3 class="mb-3">
                        Contraseña actualizada
                    </h3>

                    <p class="text-secondary">
                        Tu contraseña fue actualizada correctamente.
                    </p>

                    <a href="{% url 'login' %}"
                       class="btn btn-outline-light mt-3">

                        Iniciar sesión

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}