<p>
    Autorizo de manera gratuita el uso de imágenes individuales o grupales
    tomadas durante entrenamientos, clases, eventos deportivos o actividades
    realizadas por la academia o en representación de la misma.
</p>

<p>
    Estas imágenes podrán utilizarse con fines informativos, promocionales,
    institucionales o de divulgación en redes sociales, piezas gráficas,
    material audiovisual o medios digitales de la academia.
</p>

<p>
    Entiendo que esta autorización es opcional y puedo no aceptarla sin que ello
    impida mi participación como estudiante.
</p>