<p>
    5. AUTORIZACIÓN DE USO DE IMAGEN
Autorizo de manera gratuita, voluntaria e indefinida a GALERAS BJJ para captar, utilizar, reproducir, 
publicar y difundir fotografías, videos, grabaciones o cualquier material audiovisual donde aparezca mi imagen, 
voz o participación, con fines publicitarios, promocionales, educativos o comerciales en redes sociales, 
páginas web, material impreso y demás medios de comunicación, sin derecho a compensación económica.

</p>

<p>
    6. TRATAMIENTO DE DATOS PERSONALES
Autorizo el tratamiento de mis datos personales conforme a la Ley 1581 de 2012 y demás normas concordantes, 
para fines administrativos, deportivos, comerciales y de contacto relacionados con las actividades de la 
academia.


</p>

