<p>
    1. ASUNCIÓN DE RIESGOS
Declaro conocer y aceptar que las artes marciales y deportes de contacto implican riesgos inherentes, 
incluyendo lesiones leves, graves o permanentes, y en casos excepcionales, incapacidad permanente o muerte.
Entiendo que dichas lesiones pueden ocurrir incluso siguiendo las normas de seguridad y acepto 
voluntariamente asumir todos los riesgos derivados de mi participación.

</p>

<p>
    2. EXONERACIÓN DE RESPONSABILIDAD
Exonero de responsabilidad civil, contractual, extracontractual y penal a GALERAS BJJ, sus propietarios, 
instructores, entrenadores, empleados, representantes y colaboradores, por cualquier lesión, accidente, 
daño físico o material que pueda sufrir durante entrenamientos, clases, seminarios, competencias o actividades 
relacionadas.

</p>

<p>
    3. DECLARACIÓN DE CONDICIÓN MÉDICA
Declaro que me encuentro en condiciones físicas y de salud aptas para practicar actividades deportivas 
de contacto y que he informado cualquier enfermedad, lesión, limitación física o condición médica relevante.
Asimismo, me comprometo a suspender mi participación en caso de presentar condiciones que puedan 
poner en riesgo mi integridad o la de terceros.

</p>

<p>
    4. ATENCIÓN MÉDICA DE EMERGENCIA
Autorizo a GALERAS BJJ a gestionar atención médica básica o de emergencia en caso de accidente, 
entendiendo que todos los costos médicos, hospitalarios, farmacéuticos o derivados serán asumidos 
exclusivamente por mí o por mi EPS/seguro médico.

</p>