{% extends 'gestion/base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">

    <h2 class="mb-0">
        Alumnos
    </h2>

    <a href="{% url 'gestion:crear_alumno' %}"
       class="btn btn-outline-light btn-sm">

        <i class="fa-solid fa-plus"></i>
        Nuevo alumno

    </a>

</div>

<div class="table-responsive">

    <table class="table table-dark table-hover table-dark-custom">

        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Documento</th>
            <th>Disciplina</th>
            <th>Grado</th>
            <th>Estado</th>

            <th>Acciones</th>
            <th>Días restantes</th>
            <th>Fecha vencimiento</th>
            <th>Días vencido</th>
            <th>Mensualidades pendientes</th>

        </tr>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.user.get_full_name|default:alumno.user.username }}</td>
            <td>{{ alumno.documento }}</td>
            <td>{{ alumno.disciplina }}</td>
            <td>{{ alumno.grado }}</td>
            <td>

                {% if alumno.estado == 'ACTIVO' %}
                    <span class="badge-activo">
                        ACTIVO
                    </span>

                {% elif alumno.estado == 'VENCIDO' %}
                    <span class="badge-vencido">
                        VENCIDO
                    </span>

                {% elif alumno.estado == 'PROXIMO_VENCER' %}
                    <span class="badge-proximo">
                        PRÓXIMO A VENCER
                    </span>
                
                {% elif alumno.estado == 'PENDIENTE' %}
                    <span class="badge bg-secondary">PENDIENTE</span>

                {% else %}
                    {{ alumno.estado }}
                {% endif %}

            </td>
            <td>
                <a href="{% url 'gestion:editar_alumno' alumno.id %}"
                    class="btn btn-outline-warning btn-sm">
                    <i class="fa-solid fa-pen"></i> Editar
                </a>
                |
                <a href="{% url 'gestion:eliminar_alumno' alumno.id %}"
                    class="btn btn-outline-danger btn-sm">
                    <i class="fa-solid fa-trash"></i> Eliminar
                </a>
            </td>
            <td>
                {% if alumno.dias_para_vencer is not None %}
                {{ alumno.dias_para_vencer }} días
                {% else %}
                Sin suscripción
                {% endif %}
            </td>
            <td>{{ alumno.fecha_vencimiento_actual|default:"Sin suscripción" }}</td>
            <td>{{ alumno.dias_vencido }}</td>
            <td>{{ alumno.mensualidades_pendientes }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}